// https://material.io/design/color/the-color-system.html
toolbar = #263238
back = #37474F
panel = #455A64

panelHighlight = #006064
border = #546E7A

text = #C5E1A5
textHover = #AED581
textVisited = #9CCC65

lowOpacityBlack = rgba(0, 0, 0, 0.5)