@import url('https://fonts.googleapis.com/css?family=Nunito:600&display=swap')

#gitbar {
  text-align center

  background-color toolbar

  padding 12px

  position: fixed;
  bottom: 0;

  width: 100%;

  a {
    font-family 'Nunito', sans-serif
    font-size 16px
  }
}