@require "colours"

@import url('https://fonts.googleapis.com/css?family=Nunito:600|Roboto:300&display=swap')

.project {
  display inline-grid

  grid-template-areas "icon name" "desc desc"
  grid-template-rows 30px auto
  grid-template-columns 20px auto
  align-content stretch

  background-color panel

  width 200px
  height 300px

  margin 2px
  padding 4px

  transition-timing-function: ease-out;
  transition 0.25s

  border-width 2px
  border-color border
  border-style solid

  box-shadow 0 4px lowOpacityBlack

  &:hover {
    transition-timing-function: ease-in;
    transition 0.2s

    transform scale(1.08)
  }

  .icon {
    grid-area icon
  }

  .name {
    font-family 'Nunito', sans-serif
    font-size 24px

    grid-area name

    justify-self center
    align-self center
  }

  .desc {
    font-family 'Roboto', sans-serif
    grid-area desc
  }
}