@require "colours"

@import url('https://fonts.googleapis.com/css?family=Hind:500')

#yearBar
  background-color toolbar
  text-align center

  top 0
  position sticky

  overflow hidden

  z-index 1

  .left
    margin 0 30px 0 0

  a
    display inline-block

    font-size 140%

    padding 1px 7px 1px 7px
    margin 2px

    border solid

    color text
    background-color back

    text-decoration none

    font-family 'Hind', sans-serif

    cursor pointer

.hover_shadow
  filter drop-shadow(0 5px 5px black)
