[submodule "assets/koi/icons"]
	path = assets/koi/icons
	url = https://github.com/koi-lang/icons
[submodule "assets/swine/assets"]
	path = assets/swine/assets
	url = https://github.com/SwineProject/assets
[submodule "assets/blame"]
	path = assets/blame
	url = https://github.com/DeflatedPickle/blame
[submodule "assets/Colony"]
	path = assets/Colony
	url = https://github.com/DeflatedPickle/Colony
