@import url(https://fonts.googleapis.com/css?family=Hind:500);
@import url(https://fonts.googleapis.com/css?family=Poppins:200i);
@import url(https://fonts.googleapis.com/css?family=Arvo);
#yearBar {
  background-color: #263238;
  text-align: center;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  z-index: 1;
}
#yearBar .left {
  margin: 0 30px 0 0;
}
#yearBar a {
  display: inline-block;
  font-size: 140%;
  padding: 1px 7px 1px 7px;
  margin: 2px;
  border: solid;
  color: #c5e1a5;
  background-color: #37474f;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  cursor: pointer;
  transition: color 0.2s ease, -webkit-transform 0.1s ease;
  transition: transform 0.1s ease, color 0.2s ease;
  transition: transform 0.1s ease, color 0.2s ease, -webkit-transform 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#yearBar a:hover {
  color: #aed581;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}
.hover_shadow {
  -webkit-filter: drop-shadow(0 5px 5px #000);
          filter: drop-shadow(0 5px 5px #000);
}
.mainProject,
.mainProjectLeft,
.mainProjectRight,
.main_projects .left .project,
.main_projects .right .project {
  transition: margin 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.4s ease-in-out;
  transition: margin 0.2s ease, transform 0.4s ease-in-out, box-shadow 0.2s ease;
  transition: margin 0.2s ease, transform 0.4s ease-in-out, box-shadow 0.2s ease, -webkit-transform 0.4s ease-in-out;
}
.mainProject .expander,
.mainProjectLeft .expander,
.mainProjectRight .expander,
.main_projects .left .project .expander,
.main_projects .right .project .expander {
  width: 32px;
  height: 100%;
  bottom: auto;
  bottom: initial;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mainProject .expander:hover,
.mainProjectLeft .expander:hover,
.mainProjectRight .expander:hover,
.main_projects .left .project .expander:hover,
.main_projects .right .project .expander:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}
.mainProject .expander:hover .expanderText.left,
.mainProjectLeft .expander:hover .expanderText.left,
.mainProjectRight .expander:hover .expanderText.left,
.main_projects .left .project .expander:hover .expanderText.left,
.main_projects .right .project .expander:hover .expanderText.left {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.mainProject .expander:hover .expanderText.right,
.mainProjectLeft .expander:hover .expanderText.right,
.mainProjectRight .expander:hover .expanderText.right,
.main_projects .left .project .expander:hover .expanderText.right,
.main_projects .right .project .expander:hover .expanderText.right {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.mainProject .hiddenContent,
.mainProjectLeft .hiddenContent,
.mainProjectRight .hiddenContent,
.main_projects .left .project .hiddenContent,
.main_projects .right .project .hiddenContent {
  border-top: none;
  max-width: 0;
  max-height: 100%;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mainProjectLeft,
.main_projects .left .project {
  grid-template-columns: 145px auto 0 0;
  grid-template-rows: 30px auto 32px;
}
.mainProjectLeft .infoBar,
.main_projects .left .project .infoBar {
  grid-row: 3;
  grid-column: 2;
}
.mainProjectLeft .expander,
.main_projects .left .project .expander {
  grid-column: 3;
}
.mainProjectLeft .hiddenContent,
.main_projects .left .project .hiddenContent {
  border-left: 3px solid #c5e1a5;
  grid-column: 4;
}
.mainProjectRight,
.main_projects .right .project {
  grid-template-columns: 0 0 145px auto;
  grid-template-rows: 30px auto 32px;
}
.mainProjectRight h3,
.main_projects .right .project h3 {
  grid-row: 1;
  grid-column: 4;
}
.mainProjectRight .infoBar,
.main_projects .right .project .infoBar {
  grid-row: 3;
  grid-column: 4;
}
.mainProjectRight .projectLink,
.main_projects .right .project .projectLink {
  grid-row: 1;
  grid-column: 4;
}
.mainProjectRight p,
.main_projects .right .project p {
  grid-row: 2;
  grid-column: 4;
}
.mainProjectRight img,
.main_projects .right .project img {
  grid-row: 1;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.mainProjectRight .expander,
.main_projects .right .project .expander {
  grid-column: 2;
}
.mainProjectRight .hiddenContent,
.main_projects .right .project .hiddenContent {
  border-right: 3px solid #c5e1a5;
  grid-column: 1;
}
.main_projects {
  background-color: #263238;
  padding: 10px;
}
.main_projects .left .project {
  margin: 30px 5% 30px 30%;
  box-shadow: 3px 3px 15px #000;
}
.main_projects .left .project:hover {
  box-shadow: 6px 6px 15px #000;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.main_projects .right .project {
  margin: 30px 30% 30px 5%;
  box-shadow: -3px 3px 15px #000;
}
.main_projects .right .project:hover {
  box-shadow: -6px 6px 15px #000;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.project {
  background-color: #455a64;
  border-style: solid;
  border-color: #455a64;
  overflow: hidden;
  margin: 9px 3px 9px 3px;
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: 30px auto 32px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease;
}
h3 {
  display: inline-block;
  width: 30%;
  font-family: 'Arvo', serif;
  box-shadow: inset 0 -2px 0 #c5e1a5;
  padding-left: 3px;
  margin: 3px;
  grid-row: 1;
  grid-column: 2;
}
.infoBar {
  display: table;
  height: 26px;
  grid-row: 3;
  grid-column: 2;
}
.infoBar .state {
  display: table-cell;
  box-shadow: none;
  box-shadow: initial;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  margin: 0;
}
.infoBar .state:hover {
  width: 50%;
}
.infoBar .completed {
  background-color: #90ee90;
}
.infoBar .discontinued {
  background-color: #f08080;
}
.infoBar .replaced {
  background-color: #ff69b4;
}
.infoBar .development {
  background-color: #5f9ea0;
}
.infoBar .production {
  background-color: #ffa500;
}
.infoBar .prototype {
  background-color: #ba55d3;
}
.infoBar .demonstration {
  background-color: #ffa07a;
}
.projectLink {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  grid-row: 1;
  grid-column: 2;
}
p {
  font-family: 'Poppins', sans-serif;
  margin: 1px;
  grid-row: 2;
  grid-column: 2;
}
img {
  overflow: auto;
  width: 128px;
  height: 128px;
  margin: 5px;
  -webkit-filter: opacity(0.9) drop-shadow(3px 3px 5px #000);
          filter: opacity(0.9) drop-shadow(3px 3px 5px #000);
  grid-row: 1;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  transition: all 0.2s ease;
}
img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.expander {
  background-color: #c5e1a5;
  width: 100%;
  height: 32px;
  font-family: 'Arvo', serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
  transition: background-color 0.3s ease, -webkit-transform 0.1s ease;
  transition: transform 0.1s ease, background-color 0.3s ease;
  transition: transform 0.1s ease, background-color 0.3s ease, -webkit-transform 0.1s ease;
}
.expander:hover {
  background-color: #aed581;
  cursor: pointer;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}
.expander:hover .expanderText.top {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.expander:hover .expanderText.bottom {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.expander .expanderText {
  font-family: 'Courier New';
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hiddenContent {
  background-color: #263238;
  max-width: 100%;
  max-height: 0;
  overflow: auto;
  border-top: 3px solid #c5e1a5;
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  transition: max-height 0.2s ease;
}
.hiddenContent ol {
  margin: 5px;
  padding: 0;
  list-style-position: inside;
  font-family: 'Arvo', serif;
  font-size: 150%;
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}
.hiddenContent ol li {
  float: left;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.hiddenContent ol li img {
  display: block;
  padding-left: 5px;
  padding-right: 18px;
  transition: all 0.2s ease;
  -webkit-transform: translateX(12px) translateY(-20px);
          transform: translateX(12px) translateY(-20px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hiddenContent ol li img:hover {
  cursor: pointer;
  -webkit-transform: translateX(12px) translateY(-14px) scale(1.08);
          transform: translateX(12px) translateY(-14px) scale(1.08);
}
.hiddenContent ol li p {
  -webkit-transform: translateX(20px) translateY(-18px);
          transform: translateX(20px) translateY(-18px);
  font-size: 60%;
}
.top_year {
  margin-bottom: 72px;
}
.separator {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.separator span {
  display: inline-block;
  position: relative;
  font-family: 'Arvo', serif;
  font-size: 150%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.separator span:before,
.separator span:after {
  content: "";
  position: absolute;
  height: 13px;
  border-bottom: 3px solid #c5e1a5;
  top: 0;
  width: 45vw;
}
.separator span:before {
  right: 100%;
  margin-right: 15px;
}
.separator span:after {
  left: 100%;
  margin-left: 15px;
}
.imageModal {
  display: block;
  position: fixed;
  z-index: 1;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.imageModal div {
  z-index: 1;
  display: inline-block;
  margin: 15% auto;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body {
  background-color: #37474f;
  color: #c5e1a5;
}

