@import url(https://fonts.googleapis.com/css?family=Hind:500);
@import url(https://fonts.googleapis.com/css?family=Poppins:200i);
@import url(https://fonts.googleapis.com/css?family=Arvo);
#yearBar {
  background-color: #263238;
  text-align: center;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  z-index: 1;
}
#yearBar .left {
  margin: 0 30px 0 0;
}
#yearBar a {
  display: inline-block;
  font-size: 140%;
  padding: 1px 7px 1px 7px;
  margin: 2px;
  border: solid;
  color: #c5e1a5;
  background-color: #37474f;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  cursor: pointer;
}
.hover_shadow {
  -webkit-filter: drop-shadow(0 5px 5px #000);
          filter: drop-shadow(0 5px 5px #000);
}
.mainProject .expander,
.mainProjectLeft .expander,
.mainProjectRight .expander,
.main_projects .left .project .expander,
.main_projects .right .project .expander {
  width: 32px;
  height: 100%;
  bottom: auto;
  bottom: initial;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mainProject .hiddenContent,
.mainProjectLeft .hiddenContent,
.mainProjectRight .hiddenContent,
.main_projects .left .project .hiddenContent,
.main_projects .right .project .hiddenContent {
  border-top: none;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mainProjectLeft,
.main_projects .left .project {
  grid-template-columns: 145px auto 32px 0;
  grid-template-rows: 30px auto 32px;
}
.mainProjectLeft .expander,
.main_projects .left .project .expander {
  grid-column: 3;
}
.mainProjectLeft .hiddenContent,
.main_projects .left .project .hiddenContent {
  border-left: 3px solid #c5e1a5;
  grid-column: 4;
}
.mainProjectRight,
.main_projects .right .project {
  grid-template-columns: 0 32px 145px auto;
  grid-template-rows: 30px auto 32px;
}
.mainProjectRight h3,
.main_projects .right .project h3 {
  grid-row: 1;
  grid-column: 4;
}
.mainProjectRight p,
.main_projects .right .project p {
  grid-row: 2;
  grid-column: 4;
}
.mainProjectRight img,
.main_projects .right .project img {
  grid-row: 1;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.mainProjectRight .expander,
.main_projects .right .project .expander {
  grid-column: 2;
}
.mainProjectRight .hiddenContent,
.main_projects .right .project .hiddenContent {
  border-right: 3px solid #c5e1a5;
  grid-column: 1;
}
.main_projects {
  background-color: #263238;
  padding: 10px;
}
.main_projects .left .project {
  margin: 30px 5% 30px 30%;
  -webkit-filter: drop-shadow(3px 3px 5px #000);
          filter: drop-shadow(3px 3px 5px #000);
}
.main_projects .right .project {
  margin: 30px 30% 30px 5%;
  -webkit-filter: drop-shadow(-3px 3px 5px #000);
          filter: drop-shadow(-3px 3px 5px #000);
}
.project {
  background-color: #455a64;
  border-style: solid;
  border-color: #455a64;
  overflow: auto;
  margin: 9px 3px 9px 3px;
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: 30px auto 32px auto;
}
.project h3 {
  display: inline-block;
  width: 100px;
  font-family: 'Arvo', serif;
  box-shadow: inset 0 -2px 0 #c5e1a5;
  padding-left: 3px;
  margin: 3px;
  grid-row: 1;
  grid-column: 2;
}
.project p {
  font-family: 'Poppins', sans-serif;
  margin: 1px;
  grid-row: 2;
  grid-column: 2;
}
.project img {
  overflow: auto;
  width: 128px;
  height: 128px;
  margin: 5px;
  -webkit-filter: opacity(0.9) drop-shadow(3px 3px 5px #000);
          filter: opacity(0.9) drop-shadow(3px 3px 5px #000);
  grid-row: 1;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.project .expander {
  background-color: #c5e1a5;
  height: 32px;
  font-family: 'Arvo', serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}
.project .expander:hover {
  background-color: #aed581;
  cursor: pointer;
}
.project .hiddenContent {
  background-color: #263238;
  border-top: 3px solid #c5e1a5;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.hidden {
  visibility: hidden;
  display: none;
}
.top_year {
  margin-bottom: 72px;
}
.separator {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.separator span {
  display: inline-block;
  position: relative;
  font-family: 'Arvo', serif;
  font-size: 150%;
}
.separator span:before,
.separator span:after {
  content: "";
  position: absolute;
  height: 13px;
  border-bottom: 3px solid #c5e1a5;
  top: 0;
  width: 45vw;
}
.separator span:before {
  right: 100%;
  margin-right: 15px;
}
.separator span:after {
  left: 100%;
  margin-left: 15px;
}
body {
  background-color: #37474f;
  color: #c5e1a5;
}

