doctype html
html
    head
        title="DeflatedPickle - Portfolio"
        meta(charset="UTF-8")
    body
        include project
        include separator
        a(id="top")
        // +Project("Logo", "Name", "Description.")
        div.main_projects
            .left
                +Project("../../assets/swine/assets/pig/idle/pig_idle_0.png", "Swine", "https://github.com/SwineProject/swine", "Swine is a game engine for Python, based on Pyglet, Pymunk and Felyne. It features; scenes, a component system, GUIs (thanks to Felyne), basic support for controllers, physics (thanks to Pymunk) and an in-game terminal and command system.", "Development", "Prototype", {}, ["Python"], ["Pyglet", "Pymunk", "Felyne"])
            .right
                +Project("../../assets/koi/icons/logo/koi-original.png", "Koi", "https://github.com/koi-lang", "Koi is an elegant, general purpose, object-oriented programming language inspired by languages such as Kotlin and Perl 5.", "Development", "")
            .left
                +Project("../../assets/bug_magic.png", "Bug Magic", "https://github.com/DeflatedPickle/BugMagic", "Bug Magic is magic mod for Minecraft, themed around bugs.", "Development", "Production", {}, ["Kotlin"])
        div.other_projects
            include year_bar
            +Separator("2019", true)
            +Project("", "Portfolio", "https://github.com/DeflatedPickle/portfolio", "My portfolio is... well, my portfolio. Written in CoffeeScript, Pug and Stylus, packaged with Webpack, cleaned up with PostCSS, and hosted with GitHub Pages.", "Development", "Production", {}, ["CoffeeScript", "Pug", "Stylus"], ["PostCSS", "color-hash"])
            +Project("", "Blame", "https://github.com/DeflatedPickle/blame", "A C++ library for terminal GUIs, inspired by NCurses and Turbo Vision.", "Development", "Production", {}, ["C++", "CMake"])
            +Project("", "Quwab", "https://github.com/DeflatedPickle/Quwab", "A program for quickly creating 3D meshes.", "Development", "Production", {}, ["Kotlin"])
            +Project("", "UWU", "https://github.com/DeflatedPickle/uwu", "A simple, clean style guide for programming languages.", "Development", "Production", {})
            +Project("", "Sweet", "https://github.com/DeflatedPickle/sweet", "A widget library for SWT, providing new widgets such as dock-able windows and a really complex colour picker.", "Development", "Production", {}, ["Java"], ["SWT", "JNativeHook", "JFace", "LWJGL (OpenGL)"])
            +Project("", "Wheeze", "https://github.com/DeflatedPickle/Wheeze", "Wheeze is a free painting program inspired by SAI and FireAlpaca.", "Development", "Production", {}, ["Java", "Kotlin", "Ruby", "NetRexx"], ["SWT"])
            +Project("", "FishSuck", "https://github.com/DeflatedPickle/fishsuck", "A simple 3D physics engine.", "Development", "Production", {}, ["C++"])
            +Separator("2018", false)
            +Project("", "Firework", "https://github.com/DeflatedPickle/Firework", "Firework is a simple launcher for Minecraft.", "Development", "Production", {}, ["Kotlin"], ["SWT"])
            +Project("", "Unofficial Unity 5 Patch", "https://github.com/DeflatedPickle/UnofficialUnity5Patch", "The UU5P is a package for Unity that hopes to make the UI more user-friendly, add easier support for other .NET languages and patch small bugs.", "Development", "Production", {}, ["C++", "C#"])
            +Project("", "CSS Native", "https://github.com/DeflatedPickle/CSS-Native", "CSS Native is a library for CSS that offers styles to fit the native look of some operating systems.", "Development", "Production", {}, ["CSS"])
            +Project("", "Python: Somewhat of a Guide", "https://deflatedpickle.gitbook.io/python-somewhat-of-a-guide/", "Python: Somewhat of a Guide is a simple guide for Python 3 meant for beginners.", "Development", "Production")
            +Project("", "Boar", "https://github.com/SwineProject/Boar", "Boar is a program for creating collision boxes for Swine.", "Development", "Production", {}, ["Kotlin"], ["SWT"])
            +Project("", "Felyne", "https://github.com/SwineProject/felyne", "Felyne is a fork of Kytten, a widget toolkit for Pyglet.", "Development", "Production", {}, ["Python"])
            +Project("", "The Snowball Effect", "https://github.com/DeflatedPickle/TheSnowballEffect", "The Snowball Effect is game about a snowball rolling down a snowy hill. Whilst rolling, the snowball will slowly get bigger and the player must move the snowball to dodge the trees and rocks scattered around the hill. Sprites were created by Jimseh.", "Discontinued", "Prototype", {}, ["Python"], ["Swine"])
            +Project("", "Quill", "https://github.com/DeflatedPickle/quill", "Quill is a library for Python to aid in point-and-click, text-based games and software.", "Development", "Production", {}, ["Python"], ["Tkinter"])
            +Project("", "ASCII Painter", "https://github.com/DeflatedPickle/ASCII-Painter", "ASCII Painter is a simple painting program that can only paint in text. It's got layers, fonts and the ability to export to text and image files.", "Replaced", "Prototype", {}, ["Python"], ["Tkinter", "MenuMaker", "Pillow", "PyGame", "PyOpenGL", "PyOpenGLTK", "PyInstaller"])
            +Project("", "Pkinter", "https://github.com/DeflatedPickle/pkinter", "Pkinter is a set of widgets for the Python wrapper of Tk, Tkinter. It features both utility functions and widgets such as; editable labels, collapsible panels and line numbers.", "Development", "Production", {}, ["Python"], ["Tkinter"])
            +Project("", "Psionide", "https://github.com/DeflatedPickle/Psionide", "Psionide is a simple bullet-hell game where the player can only jump from side to side, offsetting their height by tapping higher or lower. Sprites were created by TitaniumGrunt7.", "Discontinued", "Prototype", {}, ["C#"], ["Unity"])
            +Project("", "Menu Maker", "https://github.com/DeflatedPickle/menumaker", "MenuMaker is a library for Tkinter that eases menu creation.", "Completed", "Production", {}, ["Python"], ["Tkinter"])
            +Separator("2017", false)
            +Project("", "Blocked Out", "https://github.com/DeflatedPickle/Blocked-Out", "Blocked Out is a basic puzzle game, where each level is an 8x8 square that can be rotated left or right, for the player to move around in.", "Discontinued", "Prototype", {}, ["C#"], ["Unity"])
            +Project("", "Trunks", "https://github.com/DeflatedPickle/Trunks", "Trunks is an esoteric language where everything is constructed as a vertical line.", "Development", "Demonstration", {}, ["Python", "ANTLR"])
            +Project("", "Seasoning VM", "https://github.com/DeflatedPickle/SeasoningVM", "Seasoning is a basic virtual machine that promotes coding with multiple languages.", "Discontinued", "Prototype", {}, ["Python"])
            +Project("", "Ellipse", "https://github.com/DeflatedPickle/Ellipsis", "Ellipse is an Electron-based text editor.", "Replaced", "Demonstration", {}, ["JavaScript", "HTML", "CSS"])
            +Project("", "Colony", "https://github.com/DeflatedPickle/Colony", "Colony is a simple colony simulator written in Python and Tkinter.", "Discontinued", "Demonstration", {}, ["Python"], ["Tkinter"])
            +Project("", "Pickle Icon Pack", "https://github.com/DeflatedPickle/PickleIconPack", "Pickle Icon Pack is a collection of black and white, 16x16 icons for use in software.", "Development", "Production")