doctype html
html
    head
        title="DeflatedPickle - Portfolio"
        meta(charset="UTF-8")
    body
        include project
        div.main_projects
            .left
                +Project("../../assets/owo.png", "Name", "Desc.")
            .right
                +Project("../../assets/owo.png", "Name", "Desc.")
            .left
                +Project("../../assets/owo.png", "Name", "Desc.")
        include year_bar
        +Project("", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")
        +Project("../../assets/owo.png", "Name", "Desc.")