doctype html
html
    head
        title="DeflatedPickle - Portfolio"
        meta(charset="UTF-8")
    body
        include project
        include separator
        a(id="top")
        div.main_projects
            .left
                +Project("../../assets/owo.png", "Name", "Desc.", ["../../assets/owo.png", "../../assets/owo.png", "../../assets/owo.png", "../../assets/owo.png", "../../assets/owo.png"])
            .right
                +Project("../../assets/owo.png", "Name", "Desc.", [])
            .left
                +Project("../../assets/owo.png", "Name", "Desc.", [])
        include year_bar
        +Separator("2018", true)
        +Project("", "Name", "Desc.", ["../../assets/owo.png", "../../assets/owo.png", "../../assets/owo.png"])
        +Project("../../assets/owo.png", "Name", "Desc.", ["../../assets/owo.png"])
        +Project("", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Separator("2017", false)
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])
        +Project("../../assets/owo.png", "Name", "Desc.", [])