doctype html
html
    head
        title="DeflatedPickle - Portfolio"
        meta(charset="UTF-8")

        script(async data-href="https://github.com/DeflatedPickle/portfolio" data-target="_blank" src="https://unpkg.com/github-corners@latest/dist/embed.min.js")

        script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js")

        link(href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet")
    body
        include project

        div#sortbar
            select(data-placeholder="Years" multiple=true)#years
                option 2016
                option 2017
                option 2018
                option 2019
            select(data-placeholder="Languages" multiple=true)#langs
                option Python
                option Kotlin
                option D
                option Perl 6
                option TypeScript
                option Rust
                option C++
                option C

        div#projectGroup
            +Project("Rawky", "A pixel editor, with layers, animation frames, tools bound to different mouse buttons, onion skinning and an action history.", "https://github.com/DeflatedPickle/Rawky")("nine kt")
            +Project("Logalyzer", "A web app that uses a RegEx pattern to extract text line-by-line from a text file.", "https://github.com/DeflatedPickle/Logalyzer")("nine ts")
            +Project("fishsuck", "An easy physics engine meant for games and simulations, inspired by Chipmunk2D.")("nine d")
            +Project("swine", "A game engine originally written in Python, then rewritten in Rust to work with Python. It uses scenes, objects and components.")("seven eight nine rs")
            +Project("pkinter", "A widget library for Tkinter with some nice widgets.")("six seven eight nine py")
            +Project("blame", "A simple terminal widget library based loosely on Tk.")("eight nine cpp")
            +Project("whoosh", "A colourful terminal shell.")("nine pl6")
            +Project("OpenSpy32", "An inspector for Windows, with some ability to tweak values.")("nine kt")
            +Project("crisis", "A basic even library.")("eight nine cpp")
            +Project("Koi", "A general purpose, object-oriented language, inspired by Kotlin and Perl 5, that compiles to C.")("eight nine py c")

        div#gitbar
            a(href="https://github.com/DeflatedPickle") Find More Of My Projects On GitHub