mixin Project(projectLogo, projectName, projectDescription)
    div.project
        if projectLogo
            img(src=projectLogo)
        h3= projectName
        p= projectDescription

        div.expanderParent
            div.expander

        div(class="hiddenContent hidden")
            h1 owo