mixin Project(projectLogo, projectName, projectDescription, projectImages)
    div.project
        if projectLogo
            img(src=projectLogo)
        h3= projectName
        p= projectDescription

        div.expander
            h2.expanderText

        div(class="hiddenContent hidden")
            ol
                each img in projectImages
                    li
                        img(src=img)