// https://material.io/design/color/the-color-system.html
toolbar = #263238
back = #37474F
panel = #455A64

text = #C5E1A5

body
  background-color back
  color text

#yearBar
  background-color toolbar
  text-align center

  overflow hidden

  a
    display inline-block

    font-size 140%

    padding 5px
    margin 2px

    border solid
    border-radius 2px

    color panel
    background-color back

    text-decoration none

.sticky
  position fixed
  top 0
  width 100%

.sticky + .content
  padding-top 60px

.project
  background-color panel

  border-style solid
  border-color panel
  border-width 15px
  border-radius 3px

  h3
    font-weight 800

  p
    font-style italic